/* body {
    width: 360px;
    height: 642px;
    background: #ffffff;
} */

.NAME_LOGO {
    width: 360px;
    height: 642px;
    /* position: fixed; top: 50%; left: 50%;
    transform: translate(-50%, -55%); */
    /* box-shadow: 0px 0px 25px; */
    background-color: #FEF6F3;
}

.Name-logo-img1 {
    margin: 33px 0 0 28px;
}

.NAME_LOGO_INFO {
    width: 780px;
    height: 688px;
    position: fixed; top: 50%; left: 50%;
    transform: translate(-50%, -55%);
    /* box-shadow: 0px 0px 25px; */
    background-color: #FEF6F3;

    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}