.br-mob{
    display: none;
}

body {
    max-width: 100%;
    max-height: 100%;
    background: #FEF6F3;
    font-family: 'Inter', 'Work Sans', "NunitoSans-Light", Arial, Helvetica, sans-serif;
}

.NAME_LOGO {
    width: 360px;
    height: 642px;
    background-color: #FEF6F3;
    position: absolute;
    top: 0;
    left: 0;
    transform: inherit;
}

.logo_mob {
    width: 120px;
    height: 120px;
    margin: -44px 0 0 -30px;
}

.Name-logo-img1 {
    width: 30px;
    height: 30px;
    margin: 34px 0 0 194px;
}

.Name-logo-img {
    margin: 9px 0 0 -50px;
}

.name {
    margin: 60px 33px 60px 36px;
}

.name-input {
    margin: -12px 0 60px 22px;
}

.text-input {
    margin: 15px 0 0 0;
    width: 327px;
    height: 48px;
    border: 1px solid #000000;
    border-radius: 10px;
    padding-left: 30px;
}

.NAME_LOGO_INFO {
    width: 780px;
    height: 688px;
    position: absolute;
    transform: inherit;
    top: 0;
    left: 0;
    background-color: #FEF6F3;
    position: absolute;
    transform: translate(-50%,-50%);
}

.info p {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin: 55px 0 35px 0;
}