body {
    /* align-items: center; */
    width: 100%; 
    max-width: 1366px; 
    margin: auto;
    font-family: 'Inter', 'Work Sans', "NunitoSans-Light", Arial, Helvetica, sans-serif;
    background: #4F68BB;
}

* {
    margin: 0;
    padding: 0;
}

.CONNECTION {
    width: 881px;
    height: 720px;
    position: fixed; top: 50%; left: 50%;
    transform: translate(-50%, -55%);
    background-color: #FEF6F3;
    align-items: center;
}

.NAME_LOGO_INFO {
    width: 780px;
    height: 688px;
    position: fixed; top: 50%; left: 50%;
    transform: translate(-50%, -55%);
    background-color: #FEF6F3;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Name-logo-conn {
    display: flex;
}

.Name-logo-conn a {
    margin: 0px 0 0 -30px;
    padding-left: 25px;
}

.Name-logo-img1-conn {
    margin:0 0 0 645px;
}

.Name-logo-img1-info {
    margin: 17px 0 0 435px;
}

.Name-logo-img-conn {
    margin: 39px 0 0 -28px;
}

.Name-logo-img-info {
    margin: 35px 0 0 -57px;
}

/* .name {
    margin: 60px 0 60px 70px;
} */

.label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.info-conn {
    max-width: 600px;
    padding: 15px 150px 0 150px;
}

.text-input-conn {
    margin: 15px 0 0 0;
    width: 580px;
    height: 48px;
    border: 1px solid #000000;
    border-radius: 10px;
    padding-left: 30px;
    background: #FFFFFF;
    opacity: 0.88;
}

.text-input-conn1 {
    width: 580px;
    height: 112px;
    border: 1px solid #000000;
    border-radius: 10px;
    padding-left: 30px;
    background: #FFFFFF;
    opacity: 0.88;
    margin-bottom: 22px;
}

.input-conn1 {
    margin: 32px 0 0 0;
}

.input-conn2 {
    margin: 22px 0 22px 0;
}

.text-input-conn, .text-input-conn1, .text-input-conn::before, .text-input-conn::after {
    box-sizing: border-box;
  }

.text-input:hover{
    border:2px solid #4F68BB; /* цвет обводки */
}

.text-input:active{
     border:2px solid #000000;
}


.button-conn {
    text-align: center;
    margin: 46px 0 0 0;
}
.submit_button-conn {
    background: #F03F5A;
    border-radius: 50px;
    width: 580px;
    height: 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    border: 0;
    cursor: pointer;
    color: #FFFFFF;
}

.submit_button-conn:hover {
    background-color: #B45060;
}

.submit_button-conn:active {
    background-color: #F893A3;
}

/* для элемента input c type="checkbox" */
.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  
  /* для элемента label, связанного с .custom-checkbox */
  .custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  
  /* создание в label псевдоэлемента before со следующими стилями */
  .custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  
  /* стили при наведении курсора на checkbox */
  .custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #f486a0;
  }
  
  /* стили для активного чекбокса (при нажатии на него) */
  .custom-checkbox>input:not(:disabled):active+span::before {
    background-color: #f486a0;
    border-color: #f486a0;
  }
  
  /* стили для чекбокса, находящегося в фокусе */
  .custom-checkbox>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  .custom-checkbox>input:focus:not(:checked)+span::before {
    border-color: #f486a0;
  }
  
  /* стили для чекбокса, находящегося в состоянии checked */
  .custom-checkbox>input:checked+span::before {
    border-color: #F03F5A;
    background-color: #F03F5A;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  
  /* стили для чекбокса, находящегося в состоянии disabled */
  .custom-checkbox>input:disabled+span::before {
    background-color: #f486a0;
  }

  .custom-checkbox a {
    color: #000000;
  }