body {
    align-items: center;
    width: 100%;
    max-width: 1366px;
    margin: auto;
    font-family: 'Inter', 'Work Sans', "NunitoSans-Light", Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.NAME_LOGO {
    width: 724px;
    height: 602px;
    position: fixed; top: 50%; left: 50%;
    transform: translate(-50%, -55%);
    box-shadow: 0px 0px 25px
}

.Name-logo {
    display: flex;
}

.Name-logo a {
    margin: 48px 0 0 365px;
}

.Name-logo img {
    margin: 15px 0 0 35px;
}

.name {
    margin: 60px 0 0 70px;
}

.name p {
    text-align: right;
    margin: 15px 73px 66px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.label {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.text-input {
    margin: 40px 0 0 0;
    width: 580px;
    height: 48px;
}
.button {
    text-align: center;
}
.submit_button {
    background: #FBC815;
    border-radius: 50px;
    width: 267px;
    height: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    border: 0;
}

.info p {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    margin: 35px 0 35px 0;
}

.info-li {
    margin: 18px 0 18px 0;
}

.info ul {
    margin: 0 0 25px 100px;
    width: 580px;
    height: 190px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
}