body {
    scroll-behavior: smooth;
    align-items: center;
    width: 100%;
    max-width: 1366px;
    margin: auto;
    font-family: 'Inter', 'Work Sans', "NunitoSans-Light", Arial, Helvetica, sans-serif;
}

.section {
    margin: 0 auto;
    max-width: 1366px;
}

* {
    margin: 0;
    padding: 0;
}
.header {
    margin-left: 59px;
    margin-right: 92px;
}
.section-header {
    justify-content: space-between;
    height: 83px;
    width: 100%;
    display: flex;
    align-items: center;
}
.logo {
    width: 84px;
    height: auto;
}
.header-nav {
    display: flex;
    list-style-type: none;
}
.link {
    text-decoration: none;
    /* cursor: pointer; */
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.header-nav li {
    margin-right: 35px;
}

.HOME {
    margin-top: 64px;
    margin-left: 93px;
    margin-right: 92px;
    background-color: #FEF6F3;
}
.section-home {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: -90px;
}


.title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.home_p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: 43px;
}

.home_ul {
    margin-top: 35px;
}
.home_li {
    list-style-type: none;
    margin-top: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.check {
    margin-bottom: -7px;
    margin-right: 16px;
}

.buttonsHome {
    margin-top: 68px;
}
.button_home {
    background: #FBC815;
    border-radius: 50px;
    width: 267px;
    height: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    border: 0;
    cursor: pointer;
}

.button_home:hover {
    background-color: #BC9F3B;
}

.button_home:active {
    background-color: #FDE07D;
}

.image-home {
    max-width: 747px;
    max-height: 496px;
}

.title_2 {
    display: block;
    margin-top: 100px;
    padding-top: 68px;
    text-transform: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 48px;
    align-items: center;
    text-align: center;
}

.WHY-TEST {
    background-color: #FDE4D3;
    Height: 616px;
}

.section-home-2 {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.home-text {
    width: 490px;
}

.p-text {
    margin-top: 32px;
}

.ADVAN_TEST {
    background: #4F68BB;
    color: white;
    height: 712px;
    padding-top: 63px;
    /* margin-top: 120px; */
}

.content_img {
    margin-top: -215px;
    text-align: end;
    margin-right: 50px;
}

.rot-sheet {
    margin: 0 -34px 90px 0px;
}

.rot-sheet-1 {
    margin: 0 -35px 90px 0px;
}

.rot-img1 {
    width: 117px;
    margin-top: 11px;
    margin-right: -20px;
}

.rot-img2 {
    width: 65px;
    margin-bottom: -35px;
}

.rot-img3 {
    width: 78px;
    margin-bottom: 20px;
    margin-left: -20px;
}

img.rot {
    animation: 1s linear 0s normal none infinite running rot;
    -webkit-animation: 4s linear 0s normal none infinite running rot;
    /* width: 100px; */
}
@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

img.rot1 {
    animation: 1s linear 0s normal none infinite running rot1;
    -webkit-animation: 4s linear 0s normal none infinite running rot1;
    /* width: 100px; */
}
@keyframes rot1 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@-webkit-keyframes rot1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.content-ADVAN_TEST {
    display: flex;
    justify-content: space-evenly;
    margin-top: 75px;
}

.test-info {
    width: 300px;
}



.title_3 {
    display: block;
    text-transform: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 48px;
    align-items: center;
    text-align: center;
}

.advan-test {
    margin: 30px 0 30px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.advan-test-p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.advan-test-p-2 {
    margin: 65px 0 0 115px;
    max-width: 1117px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 295px);
    justify-items: stretch;
    justify-content: space-around;;
    grid-template-rows: 100px 100px 100px;
    row-gap:  280px;
    margin-top: -30px;
}

.text_test img {
    margin-left: 700px;
}

.container-box h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
}

.container-box-p {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin: 60px 0 15px 0;
}

.container-box-p2 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.LANGUAGE_LEVELS {
    background-color:  #FEF6F3;
}

.content {
    padding-top: 66px;
}

.container-box {
    position: relative;
}

.box-1 h3 {
    position: absolute;
}

.cloud {
    margin: -11px 0 0 -80px;
    position: absolute;
}

.ball {
    display: block;
    position: inherit;
    margin-left:195px;
    margin-top: 30px;
}

.ball-2 {
    margin-left: 180px;
}

.ball-3 {
    display: block;
    margin-left: 335px;
    margin-top: -199px;
}

.button {
    text-align: center;
    background: #F03F5A;
    cursor: pointer;
    border-radius: 30px;
    border: 0;
}

.TEST {
    background-color: #FBCDA6;
    height: 352px;
}

.test_button {
    margin-top: 30px;
    width: 267px;
    height: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.test_button:hover {
    background-color: #B45060;
}

.test_button:active {
    background-color: #F893A3;
}

.test-now {
    display: flex;
    justify-content: space-between;
    margin-left: 89px;
}

.test-now-text {
    text-align: center;
    margin-top: 15px;
}

.test-now-img {
    margin-top: -159px;
}

.FOOTER {
    background: #4F68BB;
    height: 232px;
    color: #C9C9C9;
}

.footer-logo-p {
    margin-top: -65px;
    margin-left: 74px;
}

.footer-logo-p2 {
    margin-top: 16px;
    margin-left: 74px;
}


.section-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.footer-logo {
    margin-top: -37px;
}

.footer-logo img {
    margin-top: -20px;
}

.footer-navi {
    margin-top: 34px;
}

.footer-nav {
    display: grid;
    list-style-type: none;
    line-height: 2.5;
}

.footer-link {
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #C9C9C9;
    list-style-type: none;
}