<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./static/css/style.css" rel="stylesheet" type="text/css">
    <link href="./static/css/test.css" rel="stylesheet" type="text/css">
    <link href="./static/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="../static/css/vorobey.css" rel="stylesheet" type="text/css">
    <link rel="icon" sizes="16x16" href="./static/img/Иконка _Лого_ (1_1).svg" type="image/x-icon">
    <title>Vorobeyenglish</title>
</head>
<body>
<header class="header" di="HOME">
    <div class="section">
        <div class="section-header">
            <div class="logo">
                <a href="./"><img src="./static/img/Иконка _Лого_ (1).svg"></a>
            </div>
            <nav>
                <ul class="header-nav">
                    <li><a class="link" href="/">Преимущества теста</a></li>
                    <li><a class="link" href="/">Уровни знания языка</a></li>
                    <li><a class="link" href="mailto:englishtest@yandex.ru">Свяжитесь с нами</a></li>
                    <li><a class="link" href="#">О проекте</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<main>
    <section class="PROECT_VOROBEY">
        <div class="section">
            <div class="content">
                <div class="vorobey">
                    <h2>Проект Vorobey english</h2>
                </div>
                <div class="help_vorobey">

                </div>
            </div>
        </div>
    </section>
   
</main>
<footer class="FOOTER">
    <div class="section-footer">
            <div class="footer-logo">
                <a href="./"><img src="./static/img/Vector (3).svg"></a>
                <p class="footer-logo-p">Image by www.freepik.com</p>
                <p class="footer-logo-p2">© Vorobey English 2023. Все права защищены</p>
            </div>
            <div class="footer-navi">
                <nav>
                    <ul class="footer-nav">
                        <li><a class="footer-link" href="/">Преимущества теста</a></li>
                        <li><a class="footer-link" href="/">Уровни знания языка</a></li>
                        <li><a class="footer-link" href="mailto:englishtest@yandex.ru">Свяжитесь с нами</a></li>
                        <li><a class="footer-link" href="#">О проекте</a></li>
                    </ul>
                </nav>
            </div>
    </div>
</footer>

</body>

</html>