<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/vorobey.css" rel="stylesheet" type="text/css">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <link href="../static/css/test.css" rel="stylesheet" type="text/css">
    <link href="../static/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="../static/css/mob.css" media="screen and (max-width: 414px)" rel="stylesheet" type="text/css">
    <link rel="icon" sizes="16x16" href="../static/img/Иконка _Лого_ (1_1).svg" type="image/x-icon">
    <title>Vorobeyenglish</title>
</head>
<body>
<script src="../static/js/listmenu.js"></script>
<header class="header" di="HOME">
    <div class="section">
        <div class="section-header">
            <div class="logo">
                <a href="../"><img src="../static/img/Иконка _Лого_ (1).svg"></a>
            </div>
            <div class="dropdown">
                <!-- <button onclick="myFunction()" class="dropbtn"> Выпадающий</button> -->
                <a onclick="myFunction()"><img class="dropbtn" src="../static/img/Vector (6).svg"></a>
                <div id="myDropdown" class="dropdown-content">
                    <div class="Name-logo-test">
                        <a href="#"><img class="Name-logo-mob2" src="../static/img/Иконка _Лого_ (1).svg"></a>
                        <img class="Name-logo-img1-info1" src="../static/img/Ellipse 6 (2).svg">
                        <a href="#"><img class="Name-logo-img-info1 Name-logo-mob3" src="../static/img/Vector (5).svg"></a>
                    </div>
                    <div class="header-nav-mob">
                        <a class="link" href="../">Главная</a>
                        <a class="link" href="../#ADVAN_TEST">Преимущества теста</a>
                        <a class="link" href="../#LANGUAGE_LEVELS">Уровни знания языка</a>
                        <form class="dropdown-button-mob" action="../next_test" method="post">
                            <button class="dropdown-button-mob1">Пройти тест</button>
                        </form>
                        <!-- <a class="link" href="#">О проекте</a> -->
                        <a class="link" href="mailto:Vorobeyenglish@ya.ru">Свяжитесь с нами</a>
                    </div>
                    </div>
            </div>
            <nav>
                <ul class="header-nav">
                    <li><a class="link" href="/#ADVAN_TEST">Преимущества теста</a></li>
                    <li><a class="link" href="/#LANGUAGE_LEVELS">Уровни знания языка</a></li>
                    <li><a class="link" href="mailto:Vorobeyenglish@ya.ru">Свяжитесь с нами</a></li>
                    <!-- <li><a class="link" href="#">О проекте</a></li> -->
                </ul>
            </nav>
        </div>
    </div>
</header>
<main>
    <section class="PROECT_VOROBEY">
        <div class="section">
            <div class="content1">
                <h2 class="vorobey-p">Проект<br class="br-mob1"> Vorobey English</h2>
                <div class="vorobey-bloc1">
                    <div class="vorobey">
                        <p class="help-p1 help-p1-mob">Наш проект создан командой различных специалистов, но в первую очередь это наш педагог английского языка Анастасия.</p>
                        <div class="foto-vorobey">
                            <img src="../static/img/,,.svg">
                            <p>«Hello, dears!<br> My name is Nastya! <br>I’m really happy to see you there! <br>Буду рада видеть тебя на своих занятиях! <br>See ya!»</p>
                        </div>
                        <img class="vorobey-img" src="../static/img/Group 88 2 1.svg">
                    </div>
                    <div class="help_vorobey">
                        <div class="help-p">
                            <p class="help-p1">Наш проект создан командой различных специалистов, но в первую очередь это наш педагог английского языка Анастасия.</p>
                            <p class="help-p1 help-p-z">Работа по индивидуальной программе, которая тщательно подготавливается для каждого ученика, план отправляется перед первым занятием, со всеми материалами и необходимыми источниками (учебные пособия, грамматические пособия и др.)</p>
                        </div>
                            <ul class="help-p1">
                                <li>Анастасия работает репетитором по английскому языку уже 4 года!</li>
                                <li>Работает переводчицей с английского языка </li>
                                <li>Имеет сертификаты языковых школ, неоднократно участвовала в конференциях на английском языке, пишет и публикует научные статьи на английском (так же может помочь и подсказать Вам в этом направлении работы)</li>
                            </ul>
                            <p class="help-p2">Если Вы хотите начать обучение, или есть вопросы к педагогу, оставьте заявку</p>
                            <form action="../connection"  class="help_button" method="post">
                                <div class="help-button-test">
                                    <button type="submit" class="help_test_button" id="">Оставить заявку</button>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="WHAT_HELP">
        <div class="section">
            <div class="what-content">
                <h2 class="vorobey-p">Чем я могу быть Вам полезна?</h2>
                <div class="what-info">
                    <p>По результатам моей работы все мои школьники подтянули свою успеваемость и вышли на отличные оценки в четверти, успешно сдают ОГЭ и ЕГЭ. Со школьниками, по желанию самого учащегося и родителей мы так же готовимся к международным экзаменам YLE, FCE.</p>
                    <img class="number1" src="../static/img/01.png" alt="number">
                </div>
                <div class="what-info">                    
                    <img class="number2" src="../static/img/02.png" alt="number">
                    <p>Со студентами мы регулярно работаем над повышением собственных скиллов в английском языке, и как результат успешно сдаем и закрываем зачеты и экзамены по предмету. Так же помогаю студентам в написании научных статей и работ на английском языке, помогаю и курирую в подготовке к конференциям.</p>

                </div>
                <div class="what-info">
                    <p>Со взрослыми мы прежде всего устанавливаем цели и потребности от языка. Многим он необходим для путешествий, работы или для собственных возможностей и улучшения, изучения нового языка или материала. У меня успешный опыт работы с программистами, а так же студентами, которые хотели поменять род деятельности и им необходим был английский язык. Помогаю в написании CV на английском языке, прохождении интервью в компании.</p>
                    <img class="number1" src="../static/img/03.png" alt="number">
                </div>
                <div class="what-info">                    
                    <img class="number2" src="../static/img/04.png" alt="number">
                    <p>Являюсь студенткой 4 курса по направлениям: прикладная лингвистика, переводоведение, углубленное профессиональное изучение английского языка. В своем институте неоднократно проводила English Club для студентов (вид внеучебной деятельности). В школьном возрасте ездила по обмену и училась в Бристоле, Великобритания. За моей спиной успешная сдача IELTS General на 7.5 в 2019 году, сейчас активно готовлюсь к CAE and IELTS Academic.</p>
                </div>
                <form action="../connection"  class="help_button" method="post">
                    <div class="help-button-test2">
                        <button type="submit" class="help_test_button" id="">Оставить заявку</button>
                    </div>
                </form>
            </div>
            <div class="what-content-mob">
                <h2 class="vorobey-p">Чем я могу быть Вам полезна?</h2>
                    <div class="container-mob1 what-info">
                        <div class="A">
                            <p>По результатам моей работы все мои школьники подтянули свою успеваемость и </p>
                        </div> 
                        <div class="B">
                            <p>вышли на отличные оценки в четверти, успешно сдают ОГЭ и ЕГЭ. Со школьниками, по желанию самого учащегося и родителей мы так же готовимся к международным экзаменам YLE, FCE.</p>
                        </div>
                        <div class="C">
                            <img class="number1" src="../static/img/01.png" alt="number">
                        </div>
                    </div>
                        <div class="container-mob2 what-info">      
                            <div class="C">              
                                <img class="number2" src="../static/img/02.png" alt="number">
                            </div>
                            <div class="B">
                                <p>Со студентами <br>мы регулярно работаем над повышением собственных скиллов</p>
                            </div>
                            <div class="A">
                                <p>в английском языке, и как результат успешно сдаем и закрываем зачеты и экзамены по предмету. Так же помогаю студентам в написании научных статей и работ на английском языке, помогаю и курирую в подготовке к конференциям.</p>
                            </div>
                        </div>
                        <div class="container-mob1 what-info">
                            <div class="A">
                                <p>Со взрослыми мы прежде всего устанавливаем цели и потребности от языка. </p>
                            </div> 
                            <div class="B">
                                <p>Многим он необходим для путешествий, работы или для собственных возможностей и улучшения, изучения нового языка или материала. У меня успешный опыт работы с программистами, а так же студентами, которые хотели поменять род деятельности и им необходим был английский язык. Помогаю в написании CV на английском языке, прохождении интервью в компании.</p>
                            </div>
                            <div class="C">
                                <img class="number1" src="../static/img/03.png" alt="number">
                            </div>
                        </div>
                        <div class="container-mob2 what-info">  
                            <div class="C">                  
                                <img class="number2" src="../static/img/04.png" alt="number">
                            </div>
                            <div class="B">
                                <p>Являюсь студенткой 4 курса по направлениям: прикладная </p>
                            </div>
                            <div class="A">
                                <p>лингвистика, переводоведение, углубленное профессиональное изучение английского языка. В своем институте неоднократно проводила English Club для студентов (вид внеучебной деятельности). В школьном возрасте ездила по обмену и училась в Бристоле, Великобритания. За моей спиной успешная сдача IELTS General на 7.5 в 2019 году, сейчас активно готовлюсь к CAE and IELTS Academic.</p>
                            </div>
                        </div>

                <form action="../connection"  class="help_button" method="post">
                    <div class="help-button-test2">
                        <button type="submit" class="help_test_button" id="">Оставить заявку</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<footer class="FOOTER" id="FOOTER">
    <div class="section">
        <div class="section-footer">
            <div class="footer-logo">
                <img src="../static/img/Vector (3).svg">
                <p class="footer-logo-p">Image by www.freepik.com</p>
                <p class="footer-logo-p2">© Vorobey English 2023. Все права защищены</p>
                <p class="footer-logo-p2" >Проект разработан в рамках Pineapple Practice</p>
            </div>
            <div class="footer-navi">
                <nav>
                    <ul class="footer-nav">
                        <li><a class="footer-link" href="../#ADVAN_TEST">Преимущества теста</a></li>
                        <li><a class="footer-link" href="../#LANGUAGE_LEVELS">Уровни знания языка</a></li>
                        <li><a class="footer-link" href="mailto:Vorobeyenglish@ya.ru">Свяжитесь с нами</a></li>
                        <!-- <li><a class="footer-link" href="#">О проекте</a></li> -->
                        <li><p class="mob-1 footer-link">© Vorobey English 2023<br> Все права защищены</p></li>
                        <li><p class="mob-1 footer-link" >Image by www.freepik.com</p></li>
                        <li><p class="mob-1 footer-link" >Проект разработан в рамках Pineapple Practice</p></li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</footer>
<section class="scrool">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="arrow-up-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
        </symbol>
    </svg>
    <div class="btn-up btn-up_hide">
        <svg class="btn-up-icon" role="img" aria-label="Прокрутить страницу к началу">
        <use xlink:href="#arrow-up-short"></use>
        </svg>
    </div>
    <script src="./static/js/btn_up.js"></script>
</section>
</body>

</html>