<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link href="../static/css/name.css" rel="stylesheet" type="text/css">
    <link href="../static/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="../static/css/mob.css" media="screen and (max-width: 414px)" rel="stylesheet" type="text/css">
    <link rel="stylesheet" sizes="16x16" href="../static/img/Иконка _Лого_ (1_1).svg" type="image/x-icon">
    <title>Vorobeyenglish</title>
</head>
<body>
    <div class="container">

{{if .Available}}

    <form class="NAME_LOGO_INFO" action="../test" method="post">
        <div class="Name-logo">
            <a href="../"><img class="logo_mob" src="../static/img/Иконка _Лого_ (1).svg"></a>
            <img class="Name-logo-img1-info" src="../static/img/Ellipse 6 (2).svg">
            <a href="../"><img class="Name-logo-img-info" src="../static/img/Vector (5).svg"></a>
        </div>
        <div class="info">
            <p>Добро пожаловать!<br>Вы собираетесь<br class="br-mob1"> начать тест</p>

            <input type="hidden" name="name" value="{{.User}}">
            <input type="hidden" name="id" value="{{..TestStart}}">

            <ul>
                <li>Тест содержит 60 вопросов с возможностью выбора 1 правильного ответа из 4-х.</li>
                <li class="info-li">Время на выполнение теста не ограничено.</li>
                <li>В конце Вы получите результат прохождения теста.</li>
            </ul>
        </div>
        <div class="button">
            <button class="button submit_button">Начать тест</button>         
        </div>
    </form>

{{else}}

<form class="NAME_LOGO" action="../next_test" method="post">
    <div class="Name-logo">
        <a href="../"><img class="logo_mob" src="../static/img/Иконка _Лого_ (1).svg"></a>
        <img class="Name-logo-img1" src="../static/img/Ellipse 6 (2).svg">
        <a href="../"><img class="Name-logo-img" src="../static/img/Vector (5).svg"></a>
    </div>
    <div class="name">
        <label class="label">Введите своё имя, чтобы мы знали как к<br> Вам обращаться
            <input required="" name="name" class="text-input" type="text" maxlength="255" minlength="2" placeholder="Ваше имя" pattern="^[А-Яа-яЁё\s a-zA-Z]+$" title="Введите русские или латинские символы. Не менее 2 символов"></label>
    </div>
    <div class="button">
        <button class="button submit_button">Продолжить</button>
    </div>
</form>

{{end}}
</div>
</body>
</html>