<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./static/css/style.css" rel="stylesheet" type="text/css">
    <link href="./static/css/test.css" rel="stylesheet" type="text/css">
    <link href="./static/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="./static/css/mob.css" media="screen and (max-width: 360px)" rel="stylesheet" type="text/css">
    <link rel="icon" sizes="16x16" href="./static/img/Иконка _Лого_ (1_1).svg" type="image/x-icon">
    <title>Vorobeyenglish</title>
</head>
<body>
<script src="./static/js/listmenu.js"></script>
<header class="header" di="HOME">
    <div class="section">
        <div class="section-header">
            <div class="logo">
                <a href="./"><img src="./static/img/Иконка _Лого_ (1).svg"></a>
            </div>
            <nav>
                <div class="dropdown">
                    <!-- <button onclick="myFunction()" class="dropbtn"> Выпадающий</button> -->
                    <a onclick="myFunction()"><img class="dropbtn" src="./static/img/Vector (6).svg"></a>
                    <div id="myDropdown" class="dropdown-content">
                        <div class="Name-logo-test">
                            <a href="#"><img class="Name-logo-mob2" src="./static/img/Иконка _Лого_ (1).svg"></a>
                            <img class="Name-logo-img1-info1" src="./static/img/Ellipse 6 (2).svg">
                            <a href="#"><img class="Name-logo-img-info1 Name-logo-mob3" src="./static/img/Vector (5).svg"></a>
                        </div>
                        <div class="header-nav-mob">
                            <a class="link" href="./">Главная</a>
                            <a class="link" href="./#ADVAN_TEST">Преимущества теста</a>
                            <a class="link" href="./#LANGUAGE_LEVELS">Уровни знания языка</a>
                            <form class="dropdown-button-mob" action="./next_test" method="post">
                                <button class="dropdown-button-mob1">Пройти тест</button>
                            </form>
                            <a class="link" href="#">О проекте</a>
                            <a class="link" href="mailto:englishtest@yandex.ru">Свяжитесь с нами</a>
                        </div>
                        </div>
                </div>

                <ul class="header-nav">
                    <li><a class="link" href="#ADVAN_TEST">Преимущества теста</a></li>
                    <li><a class="link" href="#LANGUAGE_LEVELS">Уровни знания языка</a></li>
                    <li><a class="link" href="mailto:Vorobeyenglish@ya.ru">Свяжитесь с нами</a></li>
                    <li><a class="link" href="#">О проекте</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<main>
    <div class="section">
    {{if .Available}}

<form class="result" action="./info-customer">
    <div class="title-result">
        <p>Ваш Результат</p>
    </div>
    <div class="result1">
        <div class="level-2">
            <div class="level">
                <img src="./static/img/Ellipse 15.svg" alt="Result">
                <p>{{.Point}}</p>
            </div>
            <div class="lavel-1">
                <p>{{.Level}}</p>
            </div>
        </div>
        <div class="">
            <p class="info-result-p"><span style="font-weight: 600;"> {{.User}}</span>, Вы правильно ответили на {{.Point}} вопросов.
                Ваш уровень владения английским языком соответствует стандарту <br><span style="font-weight: 600;">{{.Level}}</span> в соответствии
                с рекомендациями, установленными Общеевропейской системой оценивания (CEFR).</p>
            <!-- <div class="share">
                <p>Поделитесь своим результатом</p>
                <div class="share-img">
                    <script src="https://yastatic.net/share2/share.js"></script>
                    <div class="ya-share2" data-curtain data-shape="round" data-services="vkontakte,odnoklassniki,telegram"></div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="appeal">
        <div class="appeal-text">
            <p><span style="font-weight: 600;">{{.User}}</span>, если Вы хотите прокачать свой английский на 2-3 уровня, Вы можете обратиться
                к преподавателю проекта Vorobey English <span style="font-weight: 600;">Анастасии</span>. </p>
            <div class="button-test">
                <form action="./info-customer" method="get">
                <button class="button test_button" id="submit">Узнать подробнее</button>
                </form>
            </div>
            <div class="button-test">
                <form action="./connection" method="post">
                <button class="button test_button" id="application">Оставить заявку</button>
                </form>
            </div>
        </div>
        <div class="appeal_img">
            <img src="./static/img/Group 82 1 1.svg" alt="">
        </div>

    </div>
</form>
{{else}}

   <form class="quiz-box" id="quiz" action="./test" method="post">
        <div class="quiz-header">
            <p class="set">{{.NumberTest}}/60</p>
            <h2 id="question">{{.Question}}</h2>
            <ul>
                <li>
                    <input type="hidden" value="{{.TestId}}" name="id">
                </li>
                <li>
                    <input type="hidden" value="{{.Id}}" name="questionid">
                </li>

                <li>
                    <input type="hidden" value="{{.Question}}" name="question">
                </li>
                <li>
                    <input type="radio" value="{{.Answer1}}" name="answer" id="a" class="answer" onchange="document.getElementById('submit').disabled = !this.checked;">
                    <label for="a" id="a_text">{{.Answer1}}</label>
                </li>
                <li>
                    <input type="radio" value="{{.Answer2}}" name="answer" id="b" class="answer" onchange="document.getElementById('submit').disabled = !this.checked;">
                    <label for="b" id="b_text">{{.Answer2}}</label>
                </li>
                <li>
                    <input type="radio" value="{{.Answer3}}"  name="answer" id="c" class="answer" onchange="document.getElementById('submit').disabled = !this.checked;">
                    <label for="c" id="c_text">{{.Answer3}}</label>
                </li>
                <li>
                    <input type="radio" value="{{.Answer4}}" name="answer" id="d" class="answer" onchange="document.getElementById('submit').disabled = !this.checked;">
                    <label for="d" id="d_text">{{.Answer4}}</label>
                </li>
            </ul>
        </div>
        <div class="button-test">
            <button class="button test_button" id="submit" disabled>Проверить ответ</button>
        </div>
    </form>
    {{end}}
    </div>
</main>
<footer class="FOOTER">
    <div class="section-footer">
            <div class="footer-logo">
                <a href="./"><img src="./static/img/Vector (3).svg"></a>
                <p class="footer-logo-p">Image by www.freepik.com</p>
                <p class="footer-logo-p2">© Vorobey English 2023. Все права защищены</p>
                <p class="footer-logo-p2" >Проект разработан в рамках Pineapple Practice</p>
            </div>
            <div class="footer-navi">
                <nav>
                    <ul class="footer-nav">
                        <li><a class="footer-link" href="./#ADVAN_TEST">Преимущества теста</a></li>
                        <li><a class="footer-link" href="./#LANGUAGE_LEVELS">Уровни знания языка</a></li>
                        <li><a class="footer-link" href="mailto:Vorobeyenglish@ya.ru">Свяжитесь с нами</a></li>
                        <li><a class="footer-link" href="#">О проекте</a></li>
                        <li><p class="mob-1 footer-link">© Vorobey English 2023<br> Все права защищены</p></li>
                        <li><p class="mob-1 footer-link" >Image by www.freepik.com</p></li>
                        <li><p class="mob-1 footer-link" >Проект разработан в рамках Pineapple Practice</p></li>
                    </ul>
                </nav>
            </div>
    </div>
</footer>

</body>

</html>