<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Одуванчики</title>
</head>
<body>

    <a href="/">На главную</a>
    <div>
{{/*        {{range .data}}*/}}

{{/*            {{ .Login}} {{ .Password}}*/}}

{{/*        {{end}}*/}}
    </div>

<form method="post">
<div class="form">

    <input type="text" name="Login" placeholder="Логин">
    <input type="text" name="Password" placeholder="Пароль">
    <input type="text" name="FirstName" placeholder="Имя">
    <input type="text" name="LastName" placeholder="Фамилия">

    <button type="submit">Войти</button>

</div>
</form>

{{/*<script src="/assets/js/registration.js"></script>*/}}
</body>
</html>