<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link href="./static/css/name.css" rel="stylesheet" type="text/css">
    <link href="./static/css/fonts.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <form class="NAME_LOGO" action="./next_test" method="post">
        <div class="Name-logo">
            <img src="./static/img/Иконка _Лого_ (1).svg">
            <a href="./"><img src="./static/img/Vector (4).jpg"></a>
        </div>
        <div class="name">
            <label class="label">Введите своё имя, чтобы мы знали, как к<br> Вам обращаться
            <input name="name" class="text-input" type="text" maxlength="255" minlength="2" placeholder="    Имя"></label>
            <p>0 из 255 символов (минимум 2)</p>
        </div>       
        <div class="button">
                <button class="button submit_button">Продолжить</button>
        </div>
    </form>
    </div>
</body>
</html>