<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{{ .Title}}</title>
</head>
<body>

   <h3><a href="/">На главную</a></h3>
    <div>
{{/*        {{range .data}}*/}}

{{/*            {{ .Login}} {{ .Password}}*/}}

{{/*        {{end}}*/}}

        <ul>
            {{range .Answers}}
                <li><b>{{ . }}</b></li>
            {{end}}
        </ul>
    </div>

{{/*   <div>*/}}
{{/*<h2>{{ .Model}}</h2>*/}}
{{/*   </div>*/}}

<form method="post">
<div class="form">
    <input type="text" name="Id" placeholder="id">
    <input type="text" name="Question" placeholder="Вопрос">
    <input type="text" name="AnswerTrue" placeholder="Правильно">
    <input type="text" name="AnswerFals1" placeholder="Ответ">
    <input type="text" name="AnswerFals2" placeholder="Ответ">
    <input type="text" name="AnswerFals3" placeholder="Ответ">

    <button type="submit">Войти</button>

</div>
</form>

</body>
</html>